In [1]:
import pickle
import pandas as pd

from glob import glob

In [2]:
path = "./tstrans_models"

In [3]:
pd.set_option('display.max_rows', None)

In [4]:
def result_dataframe(dataset_name):

    model_directories = glob(path + f"/{dataset_name}/*/")

    table_dict = {}

    for idx in range(len(model_directories)):
        directory = model_directories[idx]
        model_name = directory.split("/")[-2]
        station_pkls = glob(path + f"/{dataset_name}/" + model_name + "/*_pm25.pkl")

        model_data = {}

        for inner_idx in range(len(station_pkls)):
            station_data = pickle.load(open(station_pkls[inner_idx], "rb"))
            model_data[station_data["station_id"]] = station_data["score"]

        table_dict[model_name + ""] = model_data

    reform = {(outerKey, innerKey): values for outerKey, innerDict in table_dict.items() for innerKey, values in innerDict.items()}

    result_df = pd.DataFrame(reform).transpose()
    
    return result_df

In [5]:
dataset_directories = glob(path + f"/*/")

In [6]:
result_df_list = []

for ds_dir in dataset_directories:
    dataset_name = ds_dir.split("/")[-2]
    result_df = result_dataframe(dataset_name)
    print(f"Dataset Name : {dataset_name.capitalize()}")
    print("-"*50)
    print(result_df)
    print("-"*50)
    
    result_df_list.append([dataset_name, result_df])

Dataset Name : Ulaanbaatar
--------------------------------------------------
                     r2_score        mae        rmse       mean
TSTransformer UB003  0.611884  25.329202   37.561752  62.757429
              UB012  0.610640  50.905758  104.476650  98.772233
              UB004  0.522976  26.268475   43.314927  64.046559
              UB002  0.380962  23.324410   37.358062  50.358537
              UB001  0.534859  41.710062   62.770846  87.467868
              UB005  0.439177  43.662257   81.521745  79.860484
--------------------------------------------------
Dataset Name : Seoul
--------------------------------------------------
                     r2_score        mae       rmse       mean
TSTransformer SL115  0.491923   8.731579  12.965205  24.625515
              SL112  0.378911   9.570471  12.974621  22.771177
              SL102  0.451342   7.794981  11.200899  21.641418
              SL119 -0.002498  21.300169  46.313320  36.403638
              SL101  0.387892   8.226003  11.605869  22.313870
              SL118  0.360692   8.973777  14.150605  24.460913
              SL114  0.449058   8.316920  12.286394  24.209721
              SL111  0.002360  21.929990  59.282399  30.042666
--------------------------------------------------
Dataset Name : Delhi
--------------------------------------------------
                     r2_score        mae       rmse        mean
TSTransformer DL031  0.694260  27.643991  43.249769   92.041218
              DL019  0.664800  31.382342  48.394928  103.100812
              DL007  0.657798  34.548933  50.753157  109.909483
              DL033  0.733560  27.339436  40.457756   93.508930
              DL028  0.638630  37.562822  56.249709  118.749225
              DL021  0.676304  26.658518  40.201569  114.273321
              DL002  0.671325  41.529675  59.746808  135.138672
              DL014  0.591098  38.249634  53.108002  125.003579
--------------------------------------------------
Dataset Name : Skopje
--------------------------------------------------
                     r2_score        mae       rmse       mean
TSTransformer SK002  0.361005  17.901023  26.131321  40.201853
              SK001  0.319199  10.969077  18.120878  30.529459
--------------------------------------------------