In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("./Data/UCIAirQuality/AirQualityUCI.csv")

In [3]:
df['date'] = df.apply(lambda x: x['Date'] + ' ' + x['Time'], axis=1)
df = df.drop(['Date'], axis=1)
df = df.drop(['Time'], axis=1)

In [4]:
df['date'] = pd.to_datetime(df['date'], format='%Y-%m-%d %H:%M:%S')
df = df.sort_values(['date'])
df = df.set_index(['date'])
df.index.freq = 'H'

In [5]:
df = df.resample('D').mean().round(2)

In [6]:
df.head()

,CO(GT),PT08.S1(CO),NMHC(GT),C6H6(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH,AH
date,,,,,,,,,,,,,
2004-03-10,1.97,1316.50,86.50,8.46,912.25,132.00,1167.25,108.83,1545.33,1096.04,12.02,54.88,0.77
2004-03-11,-6.19,1244.06,104.50,7.99,851.80,130.04,1277.19,87.38,1522.70,885.03,9.83,64.07,0.78
2004-03-12,-14.10,1281.56,141.50,12.13,1008.23,142.58,1101.72,89.92,1627.22,1084.22,11.29,51.11,0.66
2004-03-13,-5.75,1330.56,139.25,10.92,992.82,168.42,993.16,105.58,1595.62,1245.78,12.87,51.53,0.73
2004-03-14,-5.97,1360.93,116.96,9.63,943.85,132.17,1001.10,97.46,1602.19,1234.18,16.02,48.84,0.85

In [7]:
cols = df.columns
for j in cols:
    for i in range(0, len(df)):
        if df[j][i] == -200:
            df[j][i] = df[j][i-1]

In [8]:
df.to_pickle("./Data/air_quality_uci_dataset.pkl", protocol=4)